/* ------------ External Imports ------------ */
@import "normalize";

/*------- Variables -------*/
@import "variables";

/* ------- Colors ------- */
@import "colors";

/* ------- Fonts ------- */
@import "fonts";

/* ------- General Styles -------*/
body{
    font-size: $base-text-size;
    background-color: $background;
    color: $text;
}

a{
    color: $link;
    &:hover, &:focus{
        color: $link-hover;
    }
}

h1, h2, h3, h4, h5, h6{
    color: $title;
}

.button{
    padding: 0.5em 1em;
    background-color: $button-background;
    color: $button-text;
    border: 3px solid $button-border;
    border-radius: 1em;
    font-weight: bold;
    transition: background-color 500ms ease,
        border 500ms ease;

    &:hover, &:focus{
        color: $button-text-hover;
        background-color: $button-background-hover;
        text-shadow: 2px 2px 10px $button-shadow;
        border: 3px solid $button-border-hover;
        transition: background-color 500ms ease,
            border 500ms ease;

    }
}

.emphasis{
    color: $text-emphasis;
    font-weight: bold;
}

.float-left{
    float: left;
    margin: 0 2em 1em 0;
}

@import "banner";
@import "menu";
@import "main";
@import "footer";
@import "form";
