/* ------------ External Imports ------------ */
@import "normalize.min";

/*------- Variables -------*/
@import "variables.min";

/* ------- Colors ------- */
@import "colors.min";

/* ------- Fonts ------- */
@import "fonts.min";

/* ------- General Styles -------*/
body{
    font-size: $base-text-size;
    background-color: $background;
    color: $text;
}

.main{
    width: 90%;
    max-width: $max-width;
    margin: 0 auto;
}

a{
    color: $link;
    &:hover, &:focus{
        color: $link-hover;
    }
}

h1, h2, h3, h4, h5, h6{
    color: $title;
}

@import "banner.min";
@import "menu.min";
@import "main.min";
@import "footer.min";
